@page "/"
@using Microsoft.Extensions.Logging
@using BlazorNotificationTemplate.Shared
@using Microsoft.AspNetCore.SignalR.Client
@using BlazorNotificationTemplate.Service.Implementations
@inject HttpClient client
@inject ILogger<Index> Logger
@inject ClientNotificationService NotifiService

<h3>Connection Status: @NotifiService.connectionStatus</h3>
<button class="btn btn-info" @onclick="StartTest">Start Test</button>
<div class="row">
    <div class="col-8">
        @foreach (var item in NotifiService.notifications)
        {
            <div class="row card-header">
                <span><b>@item.Type</b><p>@item.Time : @item.Title</p></span>
            </div>
        }
    </div>
</div>


@code{
    protected override void OnInitialized()
    {
        NotifiService.OnChange += StateHasChanged;
    }

    async Task StartTest()
    {
        var result = await client.GetAsync($"NotificationTest/GetSomeData/{NotifiService.UserId}");
        if (result.IsSuccessStatusCode)
        {

        }

    }

}