@page "/"
@using BlazorNotificationTemplate.Service.Implementations
@inject HttpClient client
@inject ClientNotificationService NotifiService

<h3>Connection Status: @NotifiService.connectionStatus</h3>
<button class="btn btn-info" @onclick="StartTest">Start Test</button>

@code{
    async Task StartTest()
    {
        var result = await client.GetAsync($"NotificationTest/GetSomeData/{NotifiService.UserId}");
        if (result.IsSuccessStatusCode)
        {

        }

    }
}